<!--Menu de navigations-->
<div class="header-area ">
    <div id="sticky-header" class="main-header-area">
        <div class="container-fluid ">
            <div class="header_bottom_border">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-2">
                        <div class="logo">
                            <a>
                                <img src="" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li>
                                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                            <img src="img/mine/home.png" class="responsive-image invert-colors"/> Home
                                        </NavLink>
                                    </li>
                                    <li><NavLink class="nav-link" href="formation">
                                            <img src="img/mine/formation.png" class="responsive-image invert-colors" /> Formation
                                        </NavLink>
                                    </li>
                                    <li><NavLink class="nav-link" href="Competence">
                                            <img src="img/mine/competences.png" class="responsive-image invert-colors" /> Competence
                                        </NavLink>
                                    </li>
                                    <li>
                                        <NavLink class="nav-link" href="/experiences">
                                            <img src="img/mine/projet.png" class="responsive-image invert-colors" /> Experience
                                        </NavLink>
                                    </li>
                                    <li>
                                        <NavLink class="nav-link" href="contacte">
                                            <img src="img/mine/contacte.png" class="responsive-image invert-colors" /> Me Contacter
                                        </NavLink>
                                    </li>
                                    <!-- Menu déroulant conserver ici si nécessaire
                                    <li>
                                    <a href="#">pages <i class="ti-angle-down"></i></a>
                                    <ul class="submenu">
                                    <li><a href="works_details.html">work details</a></li>
                                    <li><a href="elements.html">elements</a></li>
                                    </ul>
                                    </li>-->
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

