@using CV_front.Models;
@inject data.CvHttpClient Cv
@page "/competence"



<h3>Competences</h3>

@if (Loading)
{
    <div class="alert alert-info"> Chargement... </div>
}
else
{
    <div class="row">


        @foreach (SortCompetences Sortcomp in SortCompetences)
        {

            <div class="col-4">
                <h3>@Sortcomp.Type</h3>
                @foreach (Competence comp in Sortcomp.Competences)
                {
                    <h4>@comp.name | @comp.note</h4>
                }
            </div>

        }
    </div>
}



@code {
    private bool Loading;
    private List<SortCompetences> SortCompetences = new List<SortCompetences>();

    protected override async Task OnInitializedAsync()
    {
        await LoadingCompetence();
        await base.OnInitializedAsync();
    }

    private async Task LoadingCompetence()
    {
        if (Loading)
        {
            return;
        }
        Loading = true;

        SortCompetences = await Cv.GetAllSortCompetencesAsync();
        Loading = false;
    }
}
