@page "/"

<PageTitle>Home</PageTitle>


    <!-- slider_area_start -->
    <div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1" style="position: relative;">
            <div class="container">
                <div class="row align-items-center position-relative">
                    <div class="col-lg-9">
                        <div class="slider_text">
                            <h3>
                                Bonjour, je suis Samuel<br>
                            <span>ingénieur en systéme d'information et génie logiciel</span>
                            </h3>
                        <NavLink class="boxed-btn3-line" href="experiences">
                           Mon Travail
                        </NavLink>
                        </div>
                    </div>
                <div style="max-width: 200px; height: auto; margin-left: 20px; position: absolute; bottom: 0; right: 5%;">
                        <img src="img/about/my_img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <div class="download_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-10">
                    <div class="download_text">
                    <h3>Bienvenue sur mon portfolio </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="download_left">
                        <p>
                        Bonjour et bienvenue sur mon site personnel !

                        Je m'appelle Samuel ISRAEL, ingénieur en informatique diplômé de l’EPITA, avec une spécialisation en Systèmes d’Information et Génie Logiciel.

                        Ce site a pour objectif de présenter mon parcours, mes compétences et les projets sur lesquels j’ai travaillé. Il me sert également de vitrine professionnelle en ligne.
                        </p>
                    
                        <a href="#" class="boxed-btn3-line">Mon CV</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-6">
                <h3 style="color: white;">Au programme</h3>
                <ul style="padding-left: 0; list-style: none;">
                    <li style="color: white; display: flex; align-items: center; margin-bottom: 10px;">
                        <span style="margin-right: 8px; color: #FFA500;">›</span>
                        <NavLink class="nav-link" href="formation" style="color: white; text-decoration: none;">
                            Un aperçu de mon parcours académique et professionnel
                        </NavLink>
                    </li>
                    <li style="color: white; display: flex; align-items: center; margin-bottom: 10px;">
                        <span style="margin-right: 8px; color: #FFA500;">›</span>
                        <NavLink class="nav-link" href="Competence" style="color: white; text-decoration: none;">
                            Mes compétences techniques et mes domaines d’expertise
                        </NavLink>
                    </li>
                    <li style="color: white; display: flex; align-items: center; margin-bottom: 10px;">
                        <span style="margin-right: 8px; color: #FFA500;">›</span>
                        <NavLink class="nav-link" href="experiences" style="color: white; text-decoration: none;">
                            Des projets concrets réalisés dans un cadre personnel, académique ou professionnel
                        </NavLink>
                    </li>
                </ul>
            </div>
            <div>
                <h3 style="color: white;">Lettre de recommandation</h3>
                <p style="color: white;">
                    Lors de mon stage de fin d’études, j’ai eu l’opportunité de travailler en temps qu'Architecte de Solution.
                    À l’issue de cette expérience, mon maître de stage m’a rédigé une lettre de recommandation que je mets ici à disposition.
                </p>
                <a href="#" style="display: flex; justify-content: center;" class="boxed-btn3-line">Ma Lettre de Recomendation</a>
				<p>
                <div class="row">
                    <div class="col-lg-12">
                        <blockquote class="generic-blockquote">
							<p>"Samuel a démontré une grande motivation, une forte autonomie et une capacité exceptionnelle à collaborer, apprendre et à s’adapter."</p>
							
							<p>"Samuel a également démontré une excellente attitude et un comportement professionnel. Il a toujours été ponctuel, motivé et prêt à apprendre et à prendre des responsabilités"</p>
                        </blockquote>
                    </div>
                </div>
                </p>
                </div>
            </div>
        </div>
    </div>

    <!-- service_area start  -->
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-50">
                    <h3>À propos de ce site</h3>
                    </div>
                </div>
            </div>
        <p style="color: white;">
            Ce site a été développé entièrement par mes soins, afin de mettre en application mes compétences en développement web, architecture logicielle et gestion de données.
        </p>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_service text-center">
                        <div class="icon">
                            <img src="img/svg_icon/1.svg" alt="">
                        </div>
                        <h3>
                        Frontend
                    </h3>
                    <p>Blazor hybrid et Docker</p>
                    <p><a href="https://github.com/">git<img src="img/logo.png" alt=""></a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service text-center">
                        <div class="icon">
                            <img src="img/svg_icon/2.svg" alt="">
                        </div>
                        <h3>
                        Backend
                    </h3>
                    <p>C# .net et Docker</p>
                    <p><a href="https://github.com/">git<img src="img/logo.png" alt=""></a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service text-center">
                        <div class="icon">
                            <img src="img/svg_icon/3.svg" alt="">
                        </div>
                        <h3>
                        Base de données
                        </h3>
                    <p>postgresql et Docker</p>
                    <p><a href="https://github.com/">git<img src="img/logo.png" alt=""></a></p>
                    </div>
                </div>
            <div style="display: flex; justify-content: center;">
                <div class="single_service text-center">
                    <div class="icon">
                        <img src="img/svg_icon/3.svg" alt="">
                    </div>
                    <h3>
                        Hébergement
                    </h3>
                    <p>Pas encore héberger</p>
                </div>
            </div>
            </div>
        </div>
    </div>
    
    
    <!--/ footer end  -->
